<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3279555-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-3279555-5');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sophia Music Studio introduces Passion Projects: 3-month projects we work together on to achieve a specific goal for you.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">


    <title>{{ page.title }} | Sophia Music Studio</title>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-black">
      <div class="container">
        <a class="navbar-brand" href="{{site.url}}"><img src="{{ "assets/img/logo-horizontal.png" | relative_url }}" alt="Sophia Music Studio" class="img-logo"></a>
      </div>
    </nav>

    <div class="container">

      <div class="card mt-4 mb-5 border-0">
        <div class="piano-bar"></div>
