<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> <div class="d-inline-block align-middle">Menu</div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-0">
        <li class="nav-item">
          <a class="nav-link{% if page.title == 'Home' %} active{% endif %}" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.title == 'Class Cards' %} active{% endif %}" href="class-cards.html">Class Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.title == 'Passion Projects' %} active{% endif %}" href="passion-projects.html">Passion Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.title == 'About Sophia' %} active{% endif %}" href="about-sophia.html">About Sophia</a>
        </li>
      </ul>
    </div>
  </nav>