{% include head.html %}
{% include nav.html %}

        <div class="jumbotron mx-4">
          <h1 class="display-4">Welcome to Sophia Music Studio!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

        <div class="row">
          <div class="col mx-4">

            
            <div class="card-deck mb-4">
              <div class="card">
                <img src="assets/img/piano-hands-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title mt-0">Class cards</h2>
                  <p class="card-text">Class cards are a new, super-flexible way to take piano and voice lessons with Ms. Sophia!</p>
                </div>
                <div class="card-footer border-0 bg-transparent"><a class="btn sms-primary" href="class-cards.html" role="button">Learn more about Class Cards</a></div>
              </div>
              <div class="card">
                <img src="assets/img/singing-on-stage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title mt-0">Passion Projects</h2>
                  <p class="card-text">Passion Projects are focused, 3-month projects for advanced students who want to work together to achieve a specific goal.</p>
                </div>
                <div class="card-footer border-0 bg-transparent"><a class="btn sms-primary" href="passion-projects.html" role="button">Learn more about Passion Projects</a></div>
              </div>

            </div>

          </div>
        </div>


      </div>

    </div>

{% include foot.html %}
