{% include head.html %}
{% include nav.html %}

        <div class="jumbotron mx-4 mb-0">
          <h1 class="display-4">Welcome to Sophia Music Studio!</h1>
          <p class="lead font-weight-normal">I’m Sophia, and I’m exploring new and innovative ways to teach piano, voice, songwriting, and performance for kids—and kids at heart—who want to make music, establish stage presence and, mostly, have fun.</p>
          <hr class="my-4">
          <p>I’m currently teaching private lessons (and hope to be starting group lessons soon) at <a href="https://allthatandjazz.com/music">All That & Jazz</a> studio in Montclair, Va. Contact the studio for more information and to inquire about lessons.</p>

          {% include newsletter-form.html %}

        </div>


        {% include talk-first.html %}

      </div>

    </div>

{% include foot.html %}
